@import "tailwindcss";

:root {
  --background: #faf6f0; /* soft cream */
  --foreground: #463523; /* deep espresso */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Soft coffee palette */
  --color-coffee-50: #faf6f0;
  --color-coffee-100: #f3ebe0;
  --color-coffee-200: #e6d7c3;
  --color-coffee-300: #d3bca0;
  --color-coffee-400: #b99a77;
  --color-coffee-500: #a07f5f;
  --color-coffee-600: #86684c;
  --color-coffee-700: #6e543e;
  --color-coffee-800: #58432f;
  --color-coffee-900: #463523;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
